<f:form action="list" controller="Event" class="form" name="eventCategory" object="eventCategory" noCache="true" noCacheHash="true" id="eventCategoryForm">
    <f:form.select id="eventCategorySelect" value="{selectedEventCategory.uid}" name="eventCategory" options="{allCategories}" optionLabelField="title" optionValueField="uid" class="form-control" prependOptionLabel="-- Alle Kategorien anzeigen --"/>
</f:form>

<script>
    $(document).ready(function($) {
        $('#eventCategorySelect').change(function() {
           $('#eventCategoryForm').submit();
        });
    });
</script>