{namespace events=OliverThiele\OtEvents\ViewHelpers}


<f:layout name="Default" />

<f:section name="main">

    <f:flashMessages renderMode="div" />

    <div class="row" style="margin-top:20px;">
        <div class="col-md-9">
            <h1 style="margin-top:0px;">Veranstaltungen <f:if condition="{selectedDate}">am {selectedDate -> f:format.date(format:'d.m.Y')}</f:if> </h1>
        </div>
        <div class="col-md-3">
            <f:if condition="{allCategories}">
                <f:render partial="Event/CategoryDropdown" arguments="{allCategories:allCategories, selectedEventCategory:selectedEventCategory}"/>
            </f:if>
        </div>

    </div>
    <br/>

    <f:if condition="{events}">

        <f:then>

            <f:widget.paginate objects="{events}" as="pagedEvents" configuration="{paginate.configuration}">

            <f:for each="{pagedEvents}" as="event">

                <div class="single-event panel panel-default">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-8">
                                <events:dateTimeRange start="{event.eventDateTimeStart}" end="{event.eventDateTimeStop}"/>
                                <f:if condition="{event.eventLocation}"> in
                                    <f:if condition="{event.eventLocation.latitude}">
                                        <f:then>
                                            <a href="https://www.google.de/maps/@{event.eventLocation.latitude},{event.eventLocation.longitude},13z" target="_blank">{event.eventLocation.city}</a>
                                        </f:then>
                                        <f:else>
                                            {event.eventLocation.city}
                                        </f:else>
                                    </f:if>
                                </f:if>
                            </div>
                            <div class="col-md-4 ">
                                <f:for each="{event.eventCategories}" as="category" reverse="1">
                                    <span class="pull-right label label-{f:if(condition:'{category.uid} == 1', then:'danger', else:'default')}" style="margin-left:5px;">{category.title}</span>
                                </f:for>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-10">
                                <h3><f:if condition="{event.topEvent}"> <i class="glyphicon glyphicon-star"></i></f:if><f:link.action action="show" arguments="{event : event}" pageUid="{settings.showEventPid}">{event.title}</f:link.action></h3>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <f:if condition="{event.subtitle}"><h4 style="margin-top:0;">{event.subtitle -> f:format.nl2br()}</h4></f:if>
                            </div>
                        </div>
                        <div class="row">
                            <f:if condition="{event.images}">
                                <f:then>
                                    <f:if condition="{settings.showFirstImageInList}">
                                        <div class="col-md-3 col-sm-12">
                                            <f:image image="{event.images.0}" class="img-responsive"></f:image>
                                        </div>
                                        <div class="col-md-9">
                                            <article>{event.shortText -> f:format.crop(maxCharacters:'200')} </article>
                                        </div>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <div class="col-md-12">
                                        <article>{event.shortText -> f:format.crop(maxCharacters:'200')} </article>
                                    </div>
                                </f:else>
                            </f:if>

                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <f:link.action class="btn btn-default pull-right" action="show" arguments="{event : event}" pageUid="{settings.showEventPid}">mehr lesen</f:link.action>
                            </div>
                        </div>
                    </div>
                </div>

            </f:for>
            </f:widget.paginate>

        </f:then>

        <f:else>
            <div class="no-events text-center"><em><f:translate id="no_events_found" default="Keine Veranstaltungen vorhanden" /></em></div>
        </f:else>

    </f:if>

</f:section>