
<f:layout name="Default" />

<f:section name="main">

    <f:flashMessages renderMode="div" />

    <f:if condition="{events}">

        <f:then>

            <f:for each="{events}" as="event">

                <div class="single-event panel panel-default">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-10">
                                <f:if condition="{event.eventDateTimeStart}">
                                    {event.eventDateTimeStart -> f:format.date(format:'d.m.Y')}:
                                    {event.eventDateTimeStart -> f:format.date(format:'H:i')} Uhr
                                    bis
                                    {event.eventDateTimeStop -> f:format.date(format:'H:i')} Uhr
                                </f:if>
                            </div>
                            <div class="col-md-2 pull-right">
                                <f:for each="{event.eventCategories}" as="category">
                                    <span class="label label-warning">{category.title}</span>
                                </f:for>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <f:link.action action="show" arguments="{event : event}" pageUid="5"><h3 style="margin-top:0;">{event.title}<f:if condition="{event.topEvent}"> <i class="glyphicon glyphicon-star"></i></f:if></h3></f:link.action>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <f:if condition="{event.subtitle}"><h3 style="margin-top:0;"><small>{event.subtitle -> f:format.nl2br()}</small></h3></f:if>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <article>{event.shortText -> f:format.crop(maxCharacters:'200')} <f:link.action action="show" arguments="{event : event}" pageUid="{settings.showEventPid}">mehr lesen</f:link.action></article>
                            </div>
                        </div>
                    </div>
                </div>

            </f:for>

        </f:then>

        <f:else>
            <div class="alert alert-danger"><f:translate id="no_events_found" default="Keine Events vorhanden" /></div>
        </f:else>

    </f:if>

</f:section>